<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</head>
<body>
    <div <div class="container-fluid">
    <h2>UACE 2020 Results here</h2>
    <h3>Name: </h3>

    <table>
        <tr>
            <th>Subject</th>
            <th>Score</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>Submath</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>gp</td>
            <td>4</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Math</td>
            <td>A</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>A</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td>C</td>
            <td>4</td>
        </tr>
    </table>
    <br>
    <button>submit</button>
    </div>
</body>
</html>