<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
            border-collapse: collapse;
        }
        table th{
            text-align: left;
            background-color: rgb(69, 79, 136);
            color: azure;
            padding: 4px 30px 4px 8px;
        }

        table td{
            border: 1px solid #e3e3e3;
            padding: 4px 8px;
        }
</style>
</head>
<body>
    <h2>UACE 2020 Results here</h2>
    <h3>Name: </h3>

    <table>
        <tr>
            <th>Subject</th>
            <th>Score</th>
            <th>Weights</th>
        </tr>
        <tr>
            <td>Milk</td>
            <td>$3.0</td>
            <td>A3</td>
        </tr>
        <tr>
            <td>Milk</td>
            <td>$3.0</td>
            <td>A3</td>
        </tr>
    </table>
</body>
</html>