<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</head>
<body>
    <div <div class="container-fluid">
    <h2>UACE 2020 Results here</h2>
    <form action="#" method="POST">
        <h3>Name: <input type="text"></h3>
        <h3>Course: <input type="text"></h3>
    <table>
        <tr>
            <th>Subject</th>
            <th>Score</th>
        <!-- <th>Points</th>-->
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
    </table>
    </form>
    <br>
    <button type="submit">submit</button>
    </div>
</body>
</html>